@import "tailwindcss";

:root {
  --background: #F6F6F6;
  --primary: #583679;
  --primary-foreground: #ffffff;
  --text-main: #000000;
}

@theme {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-textMain: var(--text-main);

  --color-tiato: #612C47;
  --color-cream: #FDFBF7;
  --color-bodytext: #000000;
  --font-be-vietnam-pro: var(--font-be-vietnam-pro);
  --color-themeBg: #F6F6F6;
  --color-themeText: #583679;
  --animate-fade-in-up: fade-in-up 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(24px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

body {
  background-color: var(--background);
  color: var(--text-main);
  font-family: var(--font-be-vietnam-pro), sans-serif;
}
