@import "tailwindcss";

@theme {
  --color-tiato: #612C47;
  --color-cream: #FDFBF7;
  --color-bodytext: #4A4A4A;
  --font-be-vietnam-pro: var(--font-be-vietnam-pro);
  --color-themeBg: #F6F6F6;
  --color-themeText: #583679;
  --animate-fade-in-up: fade-in-up 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(24px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

body {
  background-color: var(--color-themeBg);
  color: var(--color-bodytext);
  font-family: var(--font-be-vietnam-pro), sans-serif;
}
